@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
}

.home, .aboutus {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.navbar {
    background-color: #060b26;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #060b26;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    /* display: flex; */
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    /* display: flex; */
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #1383ff;
}

.nav-menu-items {
    width: 100%;
    margin-left: -50px;
}

.navbar-toggle {
    background-color: 060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span {
    margin-left: 16px;
}

.btn-additem {
    margin-left: 100px;
}

/* Table Display Item */

.table {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border: 2px solid forestgreen;
    width: 800px;
  }

tr {
    text-align: center;
}

th {
    border-bottom: 1px solid black;
}

td {
      text-align: center;
}

.btn {
    margin: 0 1px;
}

.inventory {
    float: right;
    margin: 5px;
}

.edit-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.edit-btn {
    margin-top: 30px;
}
    